// Import NHS.UK frontend library
@import "nhsuk-frontend/dist/nhsuk";

/* app/assets/scss/application.scss */

// Add your custom CSS/Sass styles below.
/* Phase banner tag colour override */
.nhsuk-phase-banner .nhsuk-tag,
.govuk-phase-banner .govuk-tag { /* if you used GOV.UK classes anywhere */
  background-color: #1d70b8;   /* GOV.UK blue */
  color: #ffffff;              /* ensure contrast */
}

.nhsuk-phase-banner {
  padding-top: 10px;
  padding-bottom: 0px;
  border-bottom: 1px solid #b1b4b6;
}


/* equal heights for card grids */
.equal-cards > [class*="nhsuk-grid-column"] { display: flex; }
.equal-cards .nhsuk-card { display: flex; flex-direction: column; width: 100%; }
.equal-cards .nhsuk-card__content { display: flex; flex-direction: column; flex: 1; }

/* Two-column code example card */
.code-card {
  background: #0b0c0c;
  border-radius: 8px;
  overflow: hidden;
}

.code-card__chrome {
  height: 20px;
  background: #d8dadd; /* light window bar */
}

.code-card__pre {
  margin: 0;
  padding: 16px;
  color: #fff;
  font-family: ui-monospace, SFMono-Regular, Menlo, Consolas, "Liberation Mono", monospace;
  font-size: 16px;
  line-height: 1.4;
  overflow: auto;
}

/* Optional tiny syntax accents */
.code-card__pre code { color: #fff; }
.code-card__pre code .kw { color: #29a197; }  /* use spans if you want */

.endpoint{
  display:block;
  margin-top:8px;
  padding:8px 10px;
  background:#f3f2f1;
  border:1px solid #b1b4b6;
  border-radius:4px;
  font-family: ui-monospace, SFMono-Regular, Menlo, Consolas, "Liberation Mono", monospace;
  font-size: 0.95rem;
  line-height:1.4;
}
.endpoint .muted{ color:#505a5f; }
.endpoint code{ white-space:nowrap; }

.nhsuk-header__search-input.nhsuk-input {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
    height: 52px;
}
.nhsuk-icon {
    width: 1.5rem;
    height: 1.5rem;
    fill:#ffffff;
}
.nhsuk-header__search-form{position:relative;max-width:36rem}
.nhsuk-header__search-input{width:100%;padding-right:3rem;box-sizing:border-box}
.nhsuk-header__search-submit {
    height: 36px;
    width: 36px;
}
.nhsuk-header__search-submit{position:absolute;top:0;right:0;border:0;background:#005eb8;fill:#ffffff}
@media(min-width:641px){.nhsuk-header__search-submit{height:52px;width:52px}}



