{% extends "layout.html" %}
{% from 'breadcrumb/macro.njk' import breadcrumb %}
{% from 'button/macro.njk' import button %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}


{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "#",
        text: "Home"
      },
      {
        href: "#",
        text: "Section"
      }
    ],
    href: "#",
    text: "Subsection"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>Somerset Linked Data Platform</h1>
      <p>Access, explore, and integrate Somerset datasets through our modern API platform.</p>
      <p>Designed for transparency, interoperability, and compliance with NHS standards</p>
      

    </div>
  </div>
{% endblock %}